$linear-gray : #979797;
$font-gray-color: #78787A;
$soft-black: #545454;
$blue-custom: #4B7DFF;


section.group-filter-section{
  .box-panel{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .box-item{
      margin: 8px 0;
      width: 135px;
      height: 46px;
      border: 1px solid $linear-gray;
      border-radius: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      span{
        font-size: 18px;
        color: $font-gray-color;
      }
      &.price{
        padding: 5px;
      }
    }
  }
  .head-filter{
    position: relative;
    height: 115px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding-inline-start: 40px;
    figure{
      margin: 0;
      img{
        left: 30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .filter-title{
      padding-left: 25px;
      font-size: 28px;
      font-weight: 800;
      color: $soft-black;
      margin: 0;
    }
    .clear-filters{
      position: absolute;
      right: 25px;
      span{
        font-size: 18px;
        font-weight: bold;
        color: $font-gray-color;
        position: relative;
        top: 3px;
        text-decoration: underline;
      }
    }
  }
  .MuiPaper-root{
    padding: 0 20px 0 40px;
    .MuiButtonBase-root{
      span.MuiIconButton-label{
        svg{ color: $blue-custom; }
      }
      .group-title{
        font-size: 22px;
        font-weight: 600;
        margin: 12px 0;
        color: $soft-black;
      }
      .MuiExpansionPanelSummary-content.Mui-expanded{
        margin: 0;
      }
    }
  }
  .categories-panel{
    .group-list{
      list-style: none;
      padding-left: 0;
      li{
        text-align: left;
        padding: 5px 0;
      }
    }
  }
  .communes-panel{

  }
  
}
